.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 18px;
  color: #eaeaea;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  transition: 0.2s;
}

.nav-item:hover {
  background: #2e3b4e;
  color: #fff;
}

.nav-item.active {
  background: #4caf50;
  color: #fff;
}


.side-icon {
    color: #fff;
  font-size: 18px;
  min-width: 18px;
}
.sidebar {
  width: 240px;
  min-height: 100vh;
  background: #0b132b;
  color: #fff;
  flex-shrink: 0;
  padding: 20px 10px;
}
